body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(90deg, #000 20.73%, #4C0909 100.6%);
    overflow: hidden;
}

#container {

    background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(5px);
    height: 94vh;
    width: 30vw;
    border-radius: 15px;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    margin-top: 1.5vh;
}

.titulo {
    height: 5vh;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 5vh;
    font-size: 7vh;
    color: black;
    font-weight: 1000;
}


.cerrar {
    padding-top: 1vh;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;

}

.cerrar:focus {
    outline: none;
}

.descripcion {
    background-color: transparent;
    height: 83.4%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5%;
    font-size: 2.5vh;
    color: white;
}

.planetario {
    background-color: #ffffff;
    height: 20px;
    width: 20px;

}

.planetario1{
    
}