*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    width: 100vw;
    height: 15vh;
    background-color: red;
}

.cosas{
    width: 100vw;
    height: 85vh;
    background-color: blue;
}

.planetario{
    width: 100vw;
    height: 100vh;
    background-color: green;b                                                                                                                                    
}